.pageContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  padding: 0 2rem;
  background-color: var(--background-color);
}

.contentContainer {
  max-width: 55rem;
  width: 100%;
  padding: 2rem;
  text-align: left;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--title-color);
}

.meta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--meta-color);
}

.paragraph {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

[data-theme='dark'] {
  .paragraph {
    color: var(--text-color);
  }
}

.link {
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

/* Blockquote */
.blockquote {
  background-color: var(--blockquote-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Code block */
.codeBlock {
  background-color: var(--code-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--code-text-color);
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  color: var(--text-color);
}

.table th,
.table td {
  border: 1px solid var(--table-border-color);
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: var(--table-header-bg);
  font-weight: bold;
}

.contentContainer h1 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: var(--heading-1-color);
}

.contentContainer h2 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  color: var(--heading-2-color);
}

.contentContainer h3 {
  font-size: 1rem;
  margin: 1.5rem 0;
  color: var(--heading-3-color);
}

.paragraph {
  color: var(--text-color);
}
