@import '_variables';
@import '_mixins';

:root {
  --background-color: #ffffff;
  --text-color: #374151;
  --title-color: #000000;
  --meta-color: #6b7280;
  --link-color: #2563eb;
  --blockquote-bg: #f3f4f6;
  --code-bg: #f9fafb;
  --code-text-color: #111827;
  --table-border-color: #d1d5db;
  --table-header-bg: #f3f4f6;
  --heading-1-color: #ffd700;
  --heading-2-color: #ffa500;
  --heading-3-color: #1e90ff;
}

[data-theme='dark'] {
  --background-color: #111827;
  --text-color: #ffffff;
  --title-color: #e5e7eb;
  --meta-color: #d1d5db;
  --blockquote-bg: #374151;
  --code-bg: #e5e7eb;
  --code-text-color: #e5e7eb;
  --table-border-color: #374151;
  --table-header-bg: #4b5563;
  --link-color: #3b82f6;
}

[data-theme='uvicorn'] {
  --background-color: #2b0f59;
  --text-color: #ffcb05;
  --primary-color: #ffe066;
  --secondary-color: #ff9900;
  --link-color: #ffcb05;
  --border-color: #592f7e;
  --font-color: #ffe066;
  --brightness-low: 0.7;
  --brightness-high: 1.3;
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

html {
  font-size: 16px;
  font-family: var(--font-sans);
  color: var(--text-color);
  background-color: var(--background-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#__next {
  width: 100%;
  overflow-x: hidden;
}

img {
  border-radius: 0.5rem;
  filter: brightness(var(--brightness-low));

  &:hover {
    filter: brightness(var(--brightness-high));
  }
}

button.button {
  cursor: pointer;
  font-family: var(--font-accent);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.75rem 2.5rem;
  border-radius: 99rem;
  border: none;
  margin-right: 1rem;

  @include transition(750ms);
  &:hover {
    @include transition(750ms);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sans);
  font-weight: 600;
  color: var(--font-color);
}

h1 {
  font-size: var(--font-xl);
  letter-spacing: -0.1rem;
}

h2 {
  font-size: var(--font-xl);
  letter-spacing: -0.05rem;
}

h3 {
  font-size: var(--font-m);
  letter-spacing: -0.01rem;
}

h4 {
  font-size: var(--font-xs);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h5 {
  font-size: var(--font-m);
  letter-spacing: -0.01rem;
}

p {
  font-size: var(--font-r);
  line-height: 1.6;
  letter-spacing: -0.02rem;

  &.subtitle {
    font-family: var(--font-accent);
    font-size: var(--font-r-s);
    font-weight: 600;
  }
}

a {
  font-weight: 600;
  color: var(--link-color);

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

.noEvents {
  pointer-events: none;
}

.list {
  list-style: disc;
  margin-left: 1.5rem;

  li::marker {
    content: normal;
  }
}

.leaveSite {
  &:after {
    content: '↗';
    margin-left: 0.5rem;
    text-underline-offset: 0.25rem;
  }
}

.borderBottom {
  border-bottom: 1px solid var(--border-color);
}

#gradient-canvas {
  position: absolute;
  z-index: -1;
  opacity: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  aspect-ratio: auto;
  --gradient-color-1: var(--primary-color);
  --gradient-color-2: var(--secondary-color);
  --gradient-color-3: var(--link-color);
  --gradient-color-4: var(--text-color);
}

.highlight {
  background: var(--primary-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
